Source: oracle-java8
Section: non-free/java
Priority: optional
Maintainer: Janusz Dziemidowicz <rraptorr@nails.eu.org>
Homepage: http://www.oracle.com/technetwork/java/javase/downloads/index.html
Build-Depends: debhelper (>= 9), lsb-release, unzip, libasound2, unixodbc, libx11-6, libxext6, libxi6, libxt6, libxtst6, libxrender1, curl
Standards-Version: 3.9.6

Package: oracle-java8-jre
Section: non-free/java
Architecture: all
Provides: java-virtual-machine, java-runtime, java2-runtime, java5-runtime, java6-runtime, java7-runtime, java8-runtime, java-runtime-headless, java2-runtime-headless, java5-runtime-headless, java6-runtime-headless, java7-runtime-headless, java8-runtime-headless
Depends: java-common (>= 0.28), locales, oracle-java8-bin (>= ${source:Version}), ${misc:Depends}
Recommends: gsfonts-x11
Suggests: oracle-java8-plugin, oracle-java8-fonts, ttf-baekmuk | ttf-unfonts-core, ttf-kochi-gothic | ttf-sazanami-gothic, ttf-kochi-mincho | ttf-sazanami-mincho, ttf-arphic-uming,
Replaces: oracle-java8-bin
Description: Oracle Java(TM) Runtime Environment (JRE) 8 (architecture independent files)
 The Oracle Java Platform Standard Edition Runtime Environment (JRE) 8
 contains the Java virtual machine, runtime class libraries, and 
 Java application launcher that are necessary to run programs written 
 in the Java progamming language. It is not a development environment and
 doesn't contain development tools such as compilers or debuggers.
 For development tools, see the Java Development Kit JDK(TM) 8
 (package oracle-java8-jdk).
 .
 This package contains architecture independent files.

Package: oracle-java8-bin
Section: non-free/java
Architecture: amd64 i386
Depends: oracle-java8-jre (>= ${source:Version}), ${odbc:Depends}, ${shlibs:Depends}, ${misc:Depends}
Recommends: ${shlibs:Recommends}
Suggests: binfmt-support
Description: Oracle Java(TM) Runtime Environment (JRE) 8 (architecture dependent files)
 The Oracle Java Platform Standard Edition Runtime Environment (JRE) 8
 contains the Java virtual machine, runtime class libraries, and 
 Java application launcher that are necessary to run programs written 
 in the Java progamming language. It is not a development environment and
 doesn't contain development tools such as compilers or debuggers.
 For development tools, see the Java Development Kit JDK(TM) 8
 (package oracle-java8-jdk).
 .
 This package contains architecture dependent files.

Package: oracle-java8-plugin
Architecture: amd64 i386
Section: non-free/web
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, oracle-java8-bin (>= ${source:Version}), firefox | iceweasel | iceape-browser | epiphany-browser | galeon | konqueror | chromium-browser | midori | google-chrome
Description: Java(TM) Plug-in, Java SE 8
 Java Plug-in enables applets written to the Java Platform 8 
 specification to be run in Mozilla and other web browsers. 
 Java Plug-in comes with the Java Runtime Environment (JRE).
 .
 This is a metapackage containing dependencies for running Java in 
 various browsers.

Package: oracle-java8-fonts
Section: non-free/fonts
Architecture: all
Depends: oracle-java8-jre (>= ${source:Version}), ${misc:Depends}
Provides: ttf-lucida
Conflicts: ttf-lucida
Description: Lucida TrueType fonts (from the Oracle JRE)
 The Lucida fonts are included in the oracle-java8-jre package.
 This package makes the fonts available to system.

Package: oracle-java8-jdk
Architecture: amd64 i386
Depends: oracle-java8-bin (>= ${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: default-jdk-doc, oracle-java8-source
Provides: java-compiler, java2-compiler, java-sdk, java2-sdk, java5-sdk, java6-sdk, java7-jdk, java8-jdk
Description: Oracle Java(TM) Development Kit (JDK) 8
 The JDK(TM) is a development environment for building applications, 
 applets, and components using the Java programming language.
 .
 The JDK includes tools useful for developing and testing programs 
 written in the Java programming language and running on the Java 
 Platform.

Package: oracle-java8-source
Architecture: all
Depends: oracle-java8-jdk (>= ${source:Version}), ${misc:Depends}
Description: Oracle Java(TM) Development Kit (JDK) 8 source files
 The JDK(TM) is a development environment for building applications, 
 applets, and components using the Java programming language.
 .
 This package contains the Java programming language source 
 files (src.zip) for all classes that make up the Java core API.

Package: oracle-java8-javadb
Architecture: all
Section: non-free/java
Depends: oracle-java8-jdk (>= ${source:Version}), ${misc:Depends}
Enhances: oracle-java8-jdk
Description: Java(TM) DB, Oracle's distribution of Apache Derby
 Java DB is Oracle's supported distribution of the open source Apache 
 Derby 100% Java technology database. It is fully transactional, secure, 
 easy-to-use, standards-based -- SQL, JDBC API, and Java EE -- yet small, 
 only 2MB.
 .
 This package adds the optional Java DB to your JDK 6 installation.
 .
 For more information, check out the Java DB website:
 http://www.oracle.com/technetwork/java/javadb/overview/index.html
